---
layout: archive
permalink: /archives
title: Archives
---
<div class="content">
  {% include header-title.html title=page.title %}

  {% if site.posts == empty %}
  <div class="flex justify-center">
    {% include alert.html type="info" message="No Archives Available" %}
  </div>

  {% assign post_assets = site.static_files | where: "post_asset", true %}
  {% for pa in post_assets %}
  {{ pa.post_assets }}
  {% endfor %}
  {% else %}
  {% for post in site.posts %}

  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
  <h1> {{this_year}} </h1>
  <ul>
    {% endif %}

    <li>
      <span class="">{{post.date | date: "%b %d"}}</span>
      - <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
    </li>

    {% if forloop.last %}
  </ul>
  {% else %}
  {% if this_year != next_year %}
  </ul>
  <h1> {{next_year}} </h1>
  <ul>
    {% endif %}
    {% endif %}

    {% endfor %}

    {% endif %}
</div>
