---
layout: blog
permalink: /categories
title: Categories
---

<div id="categories" class="content">
  {% include header-title.html title='Blog Categories' %}

  {% if site.categories == empty %}
  <div class="flex justify-center">
    {% include alert.html type="info" message="No Categories Available" %}
  </div>
  {% else %}

  {% include nav-button.html data=site.categories %}

  <div id="section-container" class="w-full">
    {% for category in site.categories %}

    <section id="{{category[0]}}"
      class="flex-col justify-center items-center mt-5 [&:has([data-state=active])]:flex hidden">
      <div data-state="inactive">
        <div class="text-center mb-5">
          <h1
            class="text-2xl lg:text-3xl font-bold mb-3 after:content-[''] after:h-[2px] after:w-10 after:block after:mx-auto after:bg-black after:dark:bg-foreground">
            {% assign words = category[0] | split: "-" %}
            {% for word in words %}
            {{ word | capitalize }}
            {% endfor %}
          </h1>
          <p class="w-3/5">{{page.desc}}</p>
        </div>

        <div class="mt-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

          {% assign categories_per_column_mod = category[1] | size | modulo: 3 %}
          {% assign categories_per_column = category[1] | size | minus: categories_per_column_mod | divided_by: 3 %}

          {% if category[1].size <= 3 %} <div class="flex flex-col gap-4">
            {% for post in category[1] limit: 1 %}
            {% include blog-post-card.html post=post %}
            {% endfor %}
        </div>
        {% for i in (2..category[1].size) %}
        <div class="flex flex-col gap-4">
          {% for post in category[1] limit: 1 offset: continue %}
          {% include blog-post-card.html post=post %}
          {% endfor %}
        </div>
        {% endfor %}

        {% else %}
        <div class="flex flex-col gap-4">
          {% for post in category[1] limit: categories_per_column %}
          {% include blog-post-card.html post=post %}
          {% endfor %}

          {% if 1 <= categories_per_column_mod %} {% for post in category[1] limit: 1 offset: continue %} {% include
            blog-post-card.html post=post %} {% endfor %} {% endif %} </div>

            {% for j in (2..3) %}

            <div class="flex flex-col gap-4">
              {% for post in category[1] limit: categories_per_column offset: continue %}
              {% include blog-post-card.html post=post %}
              {% endfor %}

              {% if j <= categories_per_column_mod %} {% for post in category[1] limit: 1 offset: continue %} {% include
                blog-post-card.html post=post %} {% endfor %} {% endif %} </div>

                {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>
    {% endfor %}
  </div>
  {% endif %}

</div>

<script src="{{site.baseurl}}/assets/js/nav-btn.js"></script>
