---
layout: blog
permalink: /categories
title: Categories
---

<div class="content">
  <div class="px-8 sm:px-0">
    <div id="categories-btn"
      class="flex flex-wrap mt-20 mx-auto bg-slate-400/70 border-slate-200 dark:bg-slate-700/70 backdrop-blur-md dark:border-slate-500 border-[1px] p-3 rounded-md shadow-custom">

      {% for category in site.categories %}

      <span class=" cursor-pointer inline-block mr-2 my-2 text-sm w-fit bg-slate-500/70 backdrop-blur-md rounded-xl px-3
      py-[2px] text-slate-200" data-category="{{ category[0] }}">
        {{ category[0] | capitalize }}
      </span>

      {% endfor %}

    </div>

    <div id="categories" class="w-full dark:text-white">
      {% for category in site.categories %}
      <section id="{{category[0]}}" class="flex-col justify-center items-center mt-5 hidden">
        <div class="text-center mb-5">
          <h1
            class="text-2xl lg:text-3xl font-bold mb-3 after:content-[''] after:h-[2px] after:w-10 after:block after:mx-auto after:bg-black after:dark:bg-white">
            {{category[0] | capitalize}}
          </h1>
          <p class="w-3/5">{{page.desc}}</p>
        </div>

        <div class="mt-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

          {% assign categories_per_column_mod = category[1] | size | modulo: 3 %}
          {% assign categories_per_column = category[1] | size | minus: categories_per_column_mod | divided_by: 3 %}

          {% if category[1].size <= 3 %} <div class="flex flex-col gap-4">
            {% for post in category[1] limit: 1 %}
            {% include blog-post-card.html post=post %}
            {% endfor %}
        </div>
        {% for i in (2..category[1].size) %}
        <div class="flex flex-col gap-4">
          {% for post in category[1] limit: 1 offset: continue %}
          {% include blog-post-card.html post=post %}
          {% endfor %}
        </div>
        {% endfor %}

        {% else %}
        <div class="flex flex-col gap-4">
          {% for post in category[1] limit: categories_per_column %}
          {% include blog-post-card.html post=post %}
          {% endfor %}

          {% if 1 <= categories_per_column_mod %} {% for post in category[1] limit: 1 offset: continue %} {% include
            blog-post-card.html post=post %} {% endfor %} {% endif %} </div>

            {% for j in (2..3) %}

            <div class="flex flex-col gap-4">
              {% for post in category[1] limit: categories_per_column offset: continue %}
              {% include blog-post-card.html post=post %}
              {% endfor %}

              {% if j <= categories_per_column_mod %} {% for post in category[1] limit: 1 offset: continue %} {% include
                blog-post-card.html post=post %} {% endfor %} {% endif %} </div>

                {% endfor %}
                {% endif %}

            </div>
      </section>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{site.baseurl}}/assets/js/category.js"></script>
