---
layout: blog
title: Dashboard
---

<div class="content">
  <div class="w-full">

    <!-- Dashboard -->
    <section id="dashboard" class="pt-12 sm:pt-20 px-8 sm:px-14 flex flex-col justify-center items-center">
      <div class="h-full w-full flex flex-col justify-center items-center pt-12">
        <div class="text-center">
          <h1 class="font-bold text-xl sm:text-2xl lg:text-3xl">Welcome to Kadafi's Blog</h1>
          <p class="text-xs sm:text-base text-center my-3 sm:my-4">
            This blog is a place for me to share my knowledge related to computer science
          </p>
        </div>

        {% include link-btn.html href=link_next blank=true text="About Me" %}
      </div>
    </section>
    <!-- end Dashboard -->

    <!-- Categories -->
    <section id="categories" class="pt-16 md:pt-20">
      <div class="mx-auto bg-card border-primary/10 border-2 py-5 px-5 sm:px-0 rounded-md shadow-2xl">

        <div class="mb-5 text-center">
          {% include header-title.html title='Categories' %}
        </div>

        <div class="swiper category-swiper mx-auto sm:w-[95%]">
          <div class="swiper-wrapper">
            {% for category in site.data.blog-category %}
            {% include blog-category-card.html category=category %}
            {% endfor %}
          </div>
        </div>
        <div class="w-full flex justify-between items-center mt-3 sm:px-4 lg:px-5">
          <div class="flex">
            <div class="group button-prev mr-3">
              <i class="bi bi-arrow-left-circle text-3xl group-hover:hidden"></i>
              <i class="hidden bi bi-arrow-left-circle-fill text-3xl group-hover:block"></i>
            </div>
            <div class="group button-next">
              <i class="bi bi-arrow-right-circle text-3xl group-hover:hidden"></i>
              <i class="hidden bi bi-arrow-right-circle-fill text-3xl group-hover:block"></i>
            </div>
          </div>
          <a href="{{site.baseurl}}/categories" class="group flex justify-center items-center text-sm hover:underline">
            <span class="block mr-2">view all category</span>
            <i class="bi bi-arrow-right block mt-[4px] group-hover:translate-x-2 transition-transform"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- end Categories -->

    <!-- Recent Posts -->
    <section id='recent' class="pt-16 sm:pt-20">
      {% include header-title.html title='Recent Posts' %}
      <div class="mt-5 flex flex-col sm:flex-row gap-5 sm:*:w-1/2">
        <div class="flex flex-col gap-5">
          {% for post in site.posts limit: 3 %}
          {% include blog-post-card.html post=post %}
          {% endfor %}
        </div>
        <div class="flex flex-col gap-5">
          {% for post in site.posts limit: 3 offset: continue %}
          {% include blog-post-card.html post=post %}
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- end Recent Posts -->

    <!-- Post Series -->
    <section id="series" class="pt-16 md:pt-20">
      <div class="mx-auto bg-card border-primary/10 border-2 py-5 px-5 sm:px-0 rounded-md shadow-2xl">

        <div class="mb-5 text-center">
          {% include header-title.html title='Blog Series' %}
        </div>

        <div class="swiper series-swiper mx-auto sm:w-[95%]">
          <div class="swiper-wrapper">
            {% for series in site.data.blog-series %}
            {% include blog-series-swiper.html series=series %}
            {% endfor %}
          </div>
        </div>
        <div class="w-full flex justify-between items-center mt-3 sm:px-4 lg:px-5">
          <div class="flex">
            <div class="group series-button-prev mr-3">
              <i class="bi bi-arrow-left-circle text-3xl group-hover:hidden"></i>
              <i class="hidden bi bi-arrow-left-circle-fill text-3xl group-hover:block"></i>
            </div>
            <div class="group series-button-next">
              <i class="bi bi-arrow-right-circle text-3xl group-hover:hidden"></i>
              <i class="hidden bi bi-arrow-right-circle-fill text-3xl group-hover:block"></i>
            </div>
          </div>
          <a href="{{site.baseurl}}/series" class="group flex justify-center items-center text-sm hover:underline">
            <span class="block mr-2">view all series</span>
            <i class="bi bi-arrow-right block mt-[4px] group-hover:translate-x-2 transition-transform"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- end Post Series -->

  </div>
</div>
