---
layout: blog
permalink: /blog
title: Dashboard
---

<div class="content">
  <div class="w-full dark:text-white px-5 sm:px-8">
    <section id="dashboard" class="h-72 sm:h-96 p-5 px-8 sm:px-14 flex flex-col justify-center items-center">
      <div class="h-full w-full flex flex-col justify-center items-center pt-12">
        <div class="text-center">
          <h1 class="font-bold text-xl sm:text-2xl lg:text-3xl">Welcome to Kadafi's Blog</h1>
          <p class="text-xs sm:text-base text-center my-3 sm:my-4">
            This blog is a place for me to share my knowledge related to computer science and mathematics
          </p>
        </div>
        <a href="https://rizkikadafi.github.io"
          class="text-center bg-slate-400/70 border-slate-200 hover:bg-slate-700 hover:text-white dark:bg-slate-700/70 dark:hover:bg-slate-700 dark:border-slate-500 border-[1px] active:bg-slate-700 w-32 rounded-3xl py-2 text-xs lg:text-base">
          About Me
        </a>
      </div>
    </section>

    <section id="category">
      <div
        class="mx-auto bg-slate-400/70 border-slate-200 dark:bg-slate-700/70 backdrop-blur-md dark:border-slate-500 border-[1px] py-5 px-5 sm:px-0 rounded-md shadow-custom">

        <div class="mb-5 text-center text-gray-800 dark:text-gray-200">
          <h2
            class="text-2xl lg:text-3xl font-bold after:content-[''] after:h-[2px] after:w-10 after:block after:mx-auto after:bg-black after:dark:bg-white">
            Category
          </h2>
        </div>

        <div class="swiper category-swiper mx-auto sm:w-[95%]">
          <div class="swiper-wrapper">

            {% assign sort_category = site.categories | sort %}

            {% for category in sort_category %}

            {% assign sort_category_data = site.data.blog-category | sort: "name" %}
            {% assign img = sort_category_data[forloop.index0].img %}
            {% assign desc = sort_category_data[forloop.index0].desc %}

            {% include blog-category-card.html category=category desc=desc img=img %}
            {% endfor %}
          </div>
        </div>
        <div class="w-full flex justify-between items-center mt-3 sm:px-4 lg:px-5">
          <div class="flex">
            <div class="group button-prev mr-3">
              <i class="bi bi-arrow-left-circle text-3xl group-hover:hidden"></i>
              <i class="hidden bi bi-arrow-left-circle-fill text-3xl group-hover:block"></i>
            </div>
            <div class="group button-next">
              <i class="bi bi-arrow-right-circle text-3xl group-hover:hidden"></i>
              <i class="hidden bi bi-arrow-right-circle-fill text-3xl group-hover:block"></i>
            </div>
          </div>
          <a href="{{site.baseurl}}/blog/categories"
            class="group flex justify-center items-center text-sm hover:underline">
            <span class="block mr-2">view all category</span>
            <i class="bi bi-arrow-right block mt-[4px] group-hover:translate-x-2 transition-transform"></i>
          </a>
        </div>
      </div>

    </section>

    <section id='recent' class="mt-16">
      {% include header-title.html title='Recent Posts' %}
      <div class="mt-5 flex flex-col sm:flex-row gap-5">
        <div class="flex flex-col gap-5">
          {% for post in site.posts limit: 3 %}
          {% include blog-post-card.html post=post %}
          {% endfor %}
        </div>
        <div class="flex flex-col gap-5">
          {% for post in site.posts limit: 3 offset: continue %}
          {% include blog-post-card.html post=post %}
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="contact" class="mt-20">
      {% include header-title.html title='Contact Me' subtitle="Let's connect with me" %}

      <div class="mb-5 box-border text-white">
        <div
          class="bg-slate-400/70 border-slate-200 dark:bg-slate-700/70 backdrop-blur-md dark:border-slate-500 border-[1px] p-4 rounded-md shadow-custom">
          <div
            class="flex *:mx-2 justify-center text-center mb-3 py-3 border-b-slate-600 border-b-2 text-slate-800 dark:text-white">
            {% for item in site.data.contact %}

            {% include contact.html name=item.name link=item.link icon=item.icon %}

            {% endfor %}
          </div>
          <div class="text-xs lg:text-sm text-center text-slate-800 dark:text-white">
            <p><i class="bi bi-c-circle"></i> 2024 Muhamad Rizki Kadafi. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
