---
layout: blog
permalink: /tags
title: Tags
---

<div id="tags" class="content pt-16 sm:pt-20">
  {% include header-title.html title='Blog Tags' %}

  {% if site.tags == empty %}
  <div class="flex justify-center">
    {% include alert.html type="info" message="No Tags Available" %}
  </div>
  {% else %}

  {% include nav-button.html data=site.tags %}

  <div id="section-container" class="w-full">
    {% for tag in site.tags %}
    <section id="{{tag[0]}}" class="flex-col justify-center items-center mt-5 [&:has([data-state=active])]:flex hidden">
      <div data-state="inactive">
        <div class="text-center mb-5">
          <h1
            class="text-2xl lg:text-3xl font-bold mb-3 after:content-[''] after:h-[2px] after:w-10 after:block after:mx-auto after:bg-foreground">
            {% assign words = tag[0] | split: "-" %}
            {% for word in words %}
            {{ word | capitalize }}
            {% endfor %}
          </h1>
          <p class="w-3/5">{{page.desc}}</p>
        </div>

        <div class="mt-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

          {% assign tags_per_column_mod = tag[1] | size | modulo: 3 %}
          {% assign tags_per_column = tag[1] | size | minus: categories_per_column_mod | divided_by: 3 %}

          {% if tag[1].size <= 3 %} <div class="flex flex-col gap-4">
            {% for post in tag[1] limit: 1 %}
            {% include blog-post-card.html post=post %}
            {% endfor %}
        </div>
        {% for i in (2..tag[1].size) %}
        <div class="flex flex-col gap-4">
          {% for post in tag[1] limit: 1 offset: continue %}
          {% include blog-post-card.html post=post %}
          {% endfor %}
        </div>
        {% endfor %}

        {% else %}
        <div class="flex flex-col gap-4">
          {% for post in tag[1] limit: tags_per_column %}
          {% include blog-post-card.html post=post %}
          {% endfor %}

          {% if 1 <= tags_per_column_mod %} {% for post in tag[1] limit: 1 offset: continue %} {% include
            blog-post-card.html post=post %} {% endfor %} {% endif %} </div>

            {% for j in (2..3) %}

            <div class="flex flex-col gap-4">
              {% for post in tag[1] limit: tags_per_column offset: continue %}
              {% include blog-post-card.html post=post %}
              {% endfor %}

              {% if j <= tags_per_column_mod %} {% for post in tag[1] limit: 1 offset: continue %} {% include
                blog-post-card.html post=post %} {% endfor %} {% endif %} </div>

                {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>
    {% endfor %}
  </div>
  {% endif %}
</div>

<script src="{{site.baseurl}}/assets/js/nav-btn.js"></script>
