<div class="swiper-slide">
  <a href="/blog/categories?category={{ include.category[0] }}">
    <div class="relative text-white">
      <img src="/assets/image/blog-category/{{ include.img }}" alt="{{include.img}}" class="rounded-md">
      <div
        class="absolute w-full h-full top-0 left-0 rounded-md bg-gradient-to-t from-black flex flex-col justify-end p-3">
        <div class="mb-2">
          <h3 class="font-bold text-lg">{{include.category[0] | capitalize}}</h3>
          <p class="text-sm">{{ include.desc }}</p>
        </div>
        <span class="text-xs">{{ include.category[1] | size }} articles</span>
      </div>
    </div>
  </a>
</div>
