<div class="swiper-slide">
  <a href="{{site.baseurl}}/categories?data={{ include.category.name }}">
    <div class="relative">
      <img src="{{site.baseurl}}/assets/image/blog-category/{{ include.category.img }}" alt="{{include.category.img}}"
        class="rounded-md">
      <div
        class="absolute w-full h-full top-0 left-0 rounded-md bg-gradient-to-t from-black flex flex-col justify-end p-3">
        <div class="mb-2">
          <h3 class="font-bold text-lg">
            {% assign words = include.category.name | split: "-" %}
            {% for word in words %}
            {{ word | capitalize }}
            {% endfor %}
          </h3>
          <p class="text-sm">{{ include.category.desc }}</p>
        </div>
        <span class="text-xs">{{ site.categories[include.category.name] | size }} articles</span>
      </div>
    </div>
  </a>
</div>
