<div
  class="bg-card border-primary/10 border-2 p-4 rounded-md shadow-xl transition-transform hover:-translate-y-2 duration-200">

  {% if include.post.thumbnail %}
  <img src="{{site.baseurl}}{{ include.post.thumbnail }}" alt="{{ include.post.thumbnail }}"
    class="w-full h-52 sm:h-64 rounded-md object-cover">
  {% endif %}

  <div class="mt-3">
    <a href="{{site.baseurl}}{{ include.post.url }}">
      <h2 class="text-xl font-bold">{{ include.post.title }}</h2>
    </a>

    <div>
      <span class="text-sm">{{ include.post.author }} - {{ include.post.date | date_to_string }}</span>
    </div>

    {% for tag in include.post.tags %}
    <a href="{{site.baseurl}}/tags?data={{ tag }}"
      class="inline-block mr-2 mt-2 text-sm w-fit bg-secondary rounded-xl px-3 py-[2px]">{{tag}}</a>
    {% endfor %}

    <p class="text-sm text-justify mt-2">
      {{ include.post.excerpt | truncatewords: 30 }}
    </p>

    <a href="{{site.baseurl}}{{ include.post.url }}"
      class="group w-fit mt-3 flex justify-start items-center text-sm hover:underline hover:text-primary">
      <span class="block mr-2">Read more</span>
      <i class="bi bi-arrow-right block mt-[4px] group-hover:translate-x-2 transition-transform"></i>
    </a>
  </div>
</div>
