{% assign series_data = site.data.blog-series | where: "name", include.series_name %}
<div class="series-card">
  <a href="{{site.baseurl}}/series/{{include.series_name}}" class="text-gray-200">
    <div class="relative">
      <img src="{{site.baseurl}}/assets/image/blog-series/{{ series_data[0].img }}" alt="{{ series_name }}"
        class="rounded-md w-full">
      <div
        class="absolute w-full h-full top-0 left-0 rounded-md bg-gradient-to-t from-black flex flex-col justify-end p-3">
        <div class="mb-2">
          <h3 class="font-bold text-lg">
            {% assign words = include.series_name | split: "-" %}
            {% for word in words %}
            {{ word | capitalize }}
            {% endfor %}
          </h3>
          <p class="text-sm">{{ series_data[0].desc }}</p>
        </div>

        {% assign series_size = site.posts | where: "is_series", true | where: "series_title", include.series_name |
        size
        %}
        <span class="text-xs">{{ series_size }} articles</span>
      </div>
    </div>
  </a>
</div>
