<div
  class="bg-slate-400/70 border-slate-200 dark:bg-slate-700/70 backdrop-blur-md dark:border-slate-500 border-[1px] p-4 rounded-md shadow-custom transition-transform hover:-translate-y-2 duration-200">

  {% if include.post.thumbnail %}
  <img src="{{ include.post.thumbnail }}" alt="" class="w-full rounded-md">
  {% endif %}

  <div class="mt-3">
    <a href="{{ include.post.url | relative_url }}">
      <h2 class="text-xl font-bold hover:text-sky-200">{{ include.post.title }}</h2>
    </a>

    <div>
      <span class="text-sm">{{ include.post.author }} - {{ include.post.date | date_to_string }}</span>
    </div>

    {% for tag in include.post.tags %}
    <a href="/tags?tag={{ tag }}"
      class="inline-block mr-2 mt-2 text-sm w-fit bg-slate-500/70 backdrop-blur-md rounded-xl px-3 py-[2px] text-slate-200">{{tag}}</a>
    {% endfor %}

    <p class="text-sm text-justify mt-2">
      {{ include.post.excerpt }}
    </p>

    <a href="{{ include.post.url | relative_url }}"
      class="group w-fit mt-3 flex justify-start items-center text-sm hover:underline hover:text-sky-200">
      <span class="block mr-2">Read more</span>
      <i class="bi bi-arrow-right block mt-[4px] group-hover:translate-x-2 transition-transform"></i>
    </a>
  </div>
</div>
