<div id="nav-btn-container" class="flex flex-wrap mx-auto bg-card border-primary/10 border-2 p-3 rounded-md shadow-2xl"
  role="radiogroup">
  {% for data in include.data %}
  {% assign words = data[0] | split: "-" %}
  <label
    class="[&:has([data-state=active])]:border-foreground cursor-pointer inline-block mr-3 my-2 text-sm w-fit bg-transparent border-muted border-2 hover:bg-accent backdrop-blur-md rounded-3xl px-4 py-1"
    for="{{ data[0] }}">
    <button id="{{ data[0] }}"
      class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 sr-only"
      type="button" role="radio" data-section-id="{{ data[0] }}" data-state="inactive"></button>
    {% for word in words %}
    {{ word | capitalize }}
    {% endfor %}
  </label>
  {% endfor %}
</div>
