---
---
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .bg-radial-gradient-center {
    background: radial-gradient(at center, #64748B 0%, transparent 60%);
  }

  .bg-radial-gradient-top-right {
    background: radial-gradient(at top right, #334155 0%, transparent 60%);
  }

  .bg-radial-gradient-center-right {
    background: radial-gradient(at center right, #334155 0%, transparent 60%);
  }

  .bg-radial-gradient-bottom-right {
    background: radial-gradient(at bottom right, #334155 0%, transparent 60%);
  }

  .bg-radial-gradient-top-left {
    background: radial-gradient(at top left, #0E2E43 0%, transparent 60%);
  }

  .bg-radial-gradient-center-left {
    background: radial-gradient(at center left, #334155 0%, transparent 60%);
  }

  .bg-radial-gradient-bottom-left {
    background: radial-gradient(at bottom left, #334155 0%, transparent 60%);
  }

  .bg-radial-gradient-center {
    background: radial-gradient(at center, #334155 0%, transparent 60%);
  }

  .bg-radial-gradient-diagonal {
    background: 
    radial-gradient(
      at top left,
      #334155 0%, 
      transparent 60%
    ),
    radial-gradient(
      at bottom right,
      #334155 0%, 
      transparent 60%
    );
  }

  .bg-radial-gradient-diagonal-reverse {
    background: 
    radial-gradient(
      at top right,
      #334155 0%, 
      transparent 60%
    ),
    radial-gradient(
      at bottom left,
      #334155 0%, 
      transparent 60%
    );
  }

  .bg-radial-gradient-right {
    background: 
    radial-gradient(
      at top right,
      #334155 0%, 
      transparent 60%
    ),
    radial-gradient(
      at bottom right,
      #334155 0%, 
      transparent 60%
    );
  }

  .bg-radial-gradient-left {
    background: 
    radial-gradient(
      at top left,
      #334155 0%, 
      transparent 60%
    ),
    radial-gradient(
      at bottom left,
      #334155 0%, 
      transparent 60%
    );
  }
}



