<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
  <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/image/favicon.png">

  <title>{{page.title}}</title>

</head>

<body class="transition duration-500 lg:px-24">
  {% include blog-modal-navigation.html %}
  {% include navbar.html %}

  <div class="px-5 sm:px-8 min-h-svh flex flex-col justify-between">
    {{ content }}

    {% include contact-footer.html %}
  </div>


  {% include top-button.html %}

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/toggle_dark.js"></script>
  <script src="{{site.baseurl}}/assets/js/blog-navbar.js"></script>
  <script src="{{site.baseurl}}/assets/js/blog-swiper.js"></script>
</body>

</html>
