---
layout: blog
---

<div class="p-4 sm:px-10 lg:px-20 lg:mt-20 mt-12 text-white">
  {% if page.thumbnail %}
  <div class="w-full mb-5 h-60 sm:h-72 md:h-80 lg:h-96 bg-cover bg-center rounded-md shadow-custom relative"
    style="background-image: url('{{ page.thumbnail }}')">
    <div
      class="top-0 left-0 bg-gradient-to-t from-black h-full w-full flex flex-col justify-end rounded-md p-5 backdrop-brightness-75 absolute">
      <div>
        <div class="flex flex-col">
          <span class="text-base sm:text-xl font-bold">{{ page.author }} </span>
          <span class="text-sm sm:text-lg">{{ page.date | date_to_string }}</span>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="text-slate-800 dark:text-white">
    <div class="ml-1 sm:ml-0">
      <span class="text-sm sm:text-base font-bold">{{ page.author }} - {{ page.date | date_to_string }}</span>
    </div>
  </div>
  {% endif %}

  <div
    class="prose prose-sm sm:prose-base dark:prose-invert prose-h1:mb-2 prose-h1:text-2xl sm:prose-h1:text-3xl max-w-none px-2 md:px-0 text-slate-800 dark:text-white mt-5">
    <h1>{{page.title}}</h1>
    <div class="not-prose">
      {% for tag in page.tags %}
      <a href="/blog/tags?tag={{ tag }}"
        class="inline-block mr-2 my-1 w-fit text-sm bg-slate-500/70 backdrop-blur-md rounded-xl px-4 py-[2px] dark:text-slate-200">{{tag}}</a>
      {% endfor %}
    </div>
    {{ content }}
  </div>

</div>

<section id="contact" class="pt-20">
  <div class="px-3 mb-5 box-border text-white">
    <div
      class="bg-slate-400/70 border-slate-200 dark:bg-slate-700/70 backdrop-blur-md dark:border-slate-500 border-[1px] p-4 rounded-md shadow-custom">
      <div
        class="flex *:mx-2 justify-center text-center mb-3 py-3 border-b-slate-600 border-b-2 text-slate-800 dark:text-white">
        {% for item in site.data.contact %}

        {% include contact.html name=item.name link=item.link icon=item.icon %}

        {% endfor %}
      </div>
      <div class="text-xs lg:text-sm text-center text-slate-800 dark:text-white">
        <p><i class="bi bi-c-circle"></i> 2024 Muhamad Rizki Kadafi. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</section>
