---
layout: blog
---

<div class="lg:mt-20 mt-16 text-white">

  <div class="prose prose-sm sm:prose-base prose-p:text-black dark:prose-p:text-white dark:prose-invert prose-h1:mb-2 prose-h1:text-3xl sm:prose-h1:text-5xl prose-figure:md:w-2/3 
    prose-figure:mx-auto prose-img:rounded-md prose-img:object-cover prose-img:object-center max-w-none px-2 md:px-0 text-slate-800 
    dark:text-white mt-5">
    <h1>{{page.title}}</h1>
    <div class="text-slate-800 dark:text-white">
      <div class="ml-1 sm:ml-0">
        <span class="text-sm sm:text-base">{{ page.date | date_to_string }} — By {{ page.author }}</span>
      </div>
    </div>

    <div class="not-prose my-3">
      {% for tag in page.tags %}
      <a href="{{site.baseurl}}/tags?tag={{ tag }}"
        class="inline-block mr-2 my-1 w-fit text-sm bg-slate-400/70 backdrop-blur-md rounded-xl px-4 py-[2px] dark:text-slate-200">{{tag}}</a>
      {% endfor %}
    </div>

    {% if page.thumbnail %}
    <img src="{{site.baseurl}}{{ page.thumbnail }}" alt="{{ page.thumbnail }}"
      class="not-prose mx-auto my-8 rounded-md object-cover object-center h-52 sm:h-96 w-full cursor-zoom-in md:w-4/5"
      data-modal-target="thumbnail-modal" data-modal-toggle="thumbnail-modal">

    <div id="thumbnail-modal" tabindex="-1" aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-5xl max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <img src="{{site.baseurl}}{{ page.thumbnail }}" alt="{{ page.thumbnail }}"
            class="not-prose rounded-md w-full">
        </div>
      </div>
    </div>

    {% endif %}

    {{ content }}
    {% assign prev_post_order = page.series_order | minus: 1 %}
    {% assign prev_post = site.posts | where: "is_series", true | where: "series_title", page.series_title | where:
    "series_order", prev_post_order %}
    {% assign next_post_order = page.series_order | plus: 1 %}
    {% assign next_post = site.posts | where: "is_series", true | where: "series_title", page.series_title | where:
    "series_order", next_post_order %}


    {% if page.is_series %}
    <div class="flex justify-center mt-10">
      {% unless prev_post == empty %}
      <a href="{{site.baseurl}}{{ prev_post[0].url }}"
        class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4" />
        </svg>
        Previous
      </a>
      {% endunless %}

      <a href="{{site.baseurl}}/series/{{ page.series_title }}"
        class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        Series Posts
      </a>

      {% unless next_post == empty %}
      <a href="{{site.baseurl}}{{ next_post[0].url }}"
        class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        Next
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </a>
      {% endunless %}

    </div>
    {% endif %}
  </div>

</div>
