---
layout: blog
---

{% assign posts = site.posts | where: "is_series", true | where: "series_title", page.series_title | sort:
"series_order" %}

<div class="pt-12 sm:pt-20">
  {% include header-title.html title=page.title %}
  <div class="w-full bg-card border-primary/10 border-2 text-sm font-medium rounded-lg [&_a:last-child]:border-0">
    {% for post in posts%}
    <a href="{{ site.baseurl }}{{ post.url }}"
      class="transition-colors hover:bg-muted/50 block w-full px-4 py-2 border-primary/10 border-b-2 cursor-pointer">
      {{ post.series_order }}. {{ post.title }}
    </a>
    {% endfor %}
  </div>
</div>
